

header .shop-cart .item {
  width: 100%;
  float: left;
  padding-bottom: 20px;
}

header .shop-cart .item img {
  width: 70px;
  float: left;
  margin-right: 20px;
}

header .shop-cart .item h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

header .shop-cart .item p {
  color: #797979;
  font-weight: 600;
}

header .shop-cart .item .delete-icon {
  color: #ca5252;
  float: right;
  position: relative;
  top: -25px;
  cursor: pointer;
  transition: color, transform 500ms ease;
}

header .shop-cart .item .delete-icon:hover {
  color: #d83030;
  transform: scale(1.5);
}
