

main .item {
  width: 30%;
  border-radius: 10px 10px 0 0;
  margin-bottom: 50px;
  background: #f5f5f5;
  overflow: hidden;
  position: relative;
  padding-bottom: 20px;
}

main .item img,
.full-item img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  transition: transform 500ms ease;
  cursor: pointer;
}

main .item img:hover,
.full-item img:hover {
  transform: scale(1.05);
}


main h2, .full-item h2, 
main p, .full-item p, 
main b, .full-item b {
  margin: 10px 20px;
  color: #333;
}

main b, .full-item b {
  color: #5fa36a;
}

main .add-to-cart,
.full-item .add-to-cart {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #ca5252;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 600;
  transition: transform 500ms ease;
}

main .add-to-cart:hover,
.full-item .add-to-cart:hover {
  transform: scale(1.1) translateY(-5px);
}


